	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/10/2017 13:59
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-001-picture:before { content: "\f100"; }
.flaticon-002-caliper:before { content: "\f101"; }
.flaticon-003-energy-drink:before { content: "\f102"; }
.flaticon-004-build:before { content: "\f103"; }
.flaticon-005-thinking-1:before { content: "\f104"; }
.flaticon-006-prism:before { content: "\f105"; }
.flaticon-007-paint:before { content: "\f106"; }
.flaticon-008-team:before { content: "\f107"; }
.flaticon-009-idea-3:before { content: "\f108"; }
.flaticon-010-diamond:before { content: "\f109"; }
.flaticon-011-compass:before { content: "\f10a"; }
.flaticon-012-cube:before { content: "\f10b"; }
.flaticon-013-puzzle:before { content: "\f10c"; }
.flaticon-014-magic-wand:before { content: "\f10d"; }
.flaticon-015-book:before { content: "\f10e"; }
.flaticon-016-vision:before { content: "\f10f"; }
.flaticon-017-notebook:before { content: "\f110"; }
.flaticon-018-laptop-1:before { content: "\f111"; }
.flaticon-019-coffee-cup:before { content: "\f112"; }
.flaticon-020-creativity:before { content: "\f113"; }
.flaticon-021-thinking:before { content: "\f114"; }
.flaticon-022-branding:before { content: "\f115"; }
.flaticon-023-flask:before { content: "\f116"; }
.flaticon-024-idea-2:before { content: "\f117"; }
.flaticon-025-imagination:before { content: "\f118"; }
.flaticon-026-search:before { content: "\f119"; }
.flaticon-027-monitor:before { content: "\f11a"; }
.flaticon-028-idea-1:before { content: "\f11b"; }
.flaticon-029-sketchbook:before { content: "\f11c"; }
.flaticon-030-computer:before { content: "\f11d"; }
.flaticon-031-scheme:before { content: "\f11e"; }
.flaticon-032-explorer:before { content: "\f11f"; }
.flaticon-033-museum:before { content: "\f120"; }
.flaticon-034-cactus:before { content: "\f121"; }
.flaticon-035-smartphone:before { content: "\f122"; }
.flaticon-036-brainstorming:before { content: "\f123"; }
.flaticon-037-idea:before { content: "\f124"; }
.flaticon-038-graphic-tool-1:before { content: "\f125"; }
.flaticon-039-vector:before { content: "\f126"; }
.flaticon-040-rgb:before { content: "\f127"; }
.flaticon-041-graphic-tool:before { content: "\f128"; }
.flaticon-042-typography:before { content: "\f129"; }
.flaticon-043-sketch:before { content: "\f12a"; }
.flaticon-044-paint-bucket:before { content: "\f12b"; }
.flaticon-045-video-player:before { content: "\f12c"; }
.flaticon-046-laptop:before { content: "\f12d"; }
.flaticon-047-artificial-intelligence:before { content: "\f12e"; }
.flaticon-048-abstract:before { content: "\f12f"; }
.flaticon-049-projector:before { content: "\f130"; }
.flaticon-050-satellite:before { content: "\f131"; }