<?php
/**
 * @author Amin Mahmoudi (MasterkinG)
 * @copyright    Copyright (c) 2019 - 2022, MsaterkinG32 Team, Inc. (https://masterking32.com)
 * @link    https://masterking32.com
 * @Description : It's not masterking32 framework !
 **/

// base config
$config['baseurl'] = "http://localhost";                            // Site URL
$config['page_title'] = "Simple Register";                          // Site Title

$config['db_auth_host'] = '127.0.0.1';                              // Auth Database Host
$config['db_auth_port'] = '3306';                                   // Auth Database Port
$config['db_auth_user'] = 'root';                                   // Auth Database Username
$config['db_auth_pass'] = 'root';                                   // Auth Database Password
$config['db_auth_dbname'] = 'realmd';                               // Auth Database DBName
$config['realmlist'] = 'logon.myserver.com';                        // Server Realmlist
$config['patch_location'] = 'http://mypatch.com/patch.mpq';         // If have patch set URL to download our patch here or make that empty
$config['game_version'] = '3.3.5a (12340)';                         // Your game version
$config['expansion'] = '2';                                         // 0 = Classic, 1 = The Burning Crusade (TBC), 2 = Wrath of the Lich King (WotLK), 3 = Cataclysm, 4 = Mist of Pandaria (MOP), 5 = Warlords of Draenor (WOD), 6 = Legion
// If you want to use advance template, Your images and backgrounds will be changed for your expansion.

$config['battlenet_support'] = false;                               // Change it to true, If you want use it for WoD/Legion/BFA
$config['disable_top_players'] = false;                             // Disable server top players page [true: Hide top players page]
$config['disable_online_players'] = false;                          // Disable online players page [true: Hide online players page]

$config['multiple_email_use'] = false;                              // Allow to users make account with an email for several accounts (Just work for non-battle.net servers)

$config['debug_mode'] = false;                                      // Enable debug mode to display system errors.
$config['template'] = 'light';                                      // Change template name ( 'light' or 'icecrown' or 'kaelthas' or 'advance' )

$config['smtp_host'] = 'smtp1.example.com';                         // Specify main and backup SMTP servers
$config['smtp_port'] = 587;                                         // TCP port to connect to
$config['smtp_auth'] = true;                                        // Enable SMTP authentication
$config['smtp_user'] = 'user@example.com';                          // SMTP username
$config['smtp_pass'] = 'SECRET';                                    // SMTP password
$config['smtp_secure'] = 'tls';                                     // Enable TLS encryption, `ssl` also accepted
$config['smtp_mail'] = 'no-reply@example.com';                      // Send emails by ...

$config['realmlists'] = array(
	"1" => array(
		'realmid' => 1,
		'realmname' => "Realm 1",
		'db_host' => "127.0.0.1",
		'db_port' => "3306",
		'db_user' => "root",
		'db_pass' => 'root',
		'db_name' => "rm1_chars"
	)
);

/* 

 **********************************
 * EXMAPLE OF MORE THAN ONE REALM *
 **********************************
 
$config['realmlists'] = array( // Add your realmlist here
    "1" => array(
        'realmid' => 1,
        'realmname' => "Realm 1",
        'db_host' => "127.0.0.1",
        'db_port' => "3306",
        'db_user' => "root",
        'db_pass' => "root",
        'db_name' => "rm1_chars"
    ),
    "2" => array(
        'realmid' => 2,
        'realmname' => "Realm 2",
        'db_host' => "127.0.0.1",
        'db_port' => "3306",
        'db_user' => "root",
        'db_pass' => "root",
        'db_name' => "rm2_chars"
    ),
    "3" => array(
        'realmid' => 3,
        'realmname' => "Realm 3",
        'db_host' => "127.0.0.1",
        'db_port' => "3306",
        'db_user' => "root",
        'db_pass' => "root",
        'db_name' => "rm3_chars"
    )
);

*/

$config['vote_system'] = true;                                      // Enable or disable vote system (Vote system is a simple and don't have postback or something like that to verify the votes.)
/**
If you use Cloudflare and you have issue with IPs and voting, Read this: https://support.cloudflare.com/hc/en-us/articles/200170786
*/
$config['vote_sites'] = array(
    array(
        'image' => 'http://www.top100arena.com/hit.asp?id=93137&c=WoW&t=2',
         'site_url' => 'http://www.top100arena.com/in.asp?id=93137'
     ),
    array(
        'image' => 'https://topg.org/topg.gif',
         'site_url' => 'https://topg.org/wow-private-servers/in-479394'
     ),
    array(
        'image' => 'http://www.xtremeTop100.com/votenew.jpg',
         'site_url' => 'http://www.xtremetop100.com/in.php?site=1132364316'
     )
);

$config['script_version'] = '1.9.4';
